@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-300;
  background-color: #0f1d14;
}

.hero-title {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 55px;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  margin: 0 30px;
  z-index: 2;
}

.corner {
  position: absolute;
  top: 4px; /* or adjust for vertical placement */
  height: 85px;
  width: 85px;
  border: 8px solid #c8c77d;
  border-radius: 32px;
  z-index: 1;
  background: transparent;
  opacity: 0.57;
}

.left-corner {
  left: -40px;
  border-right: none;
  border-bottom: none;
}

.right-corner {
  right: -40px;
  border-left: none;
  border-bottom: none;
}
